.App {
  
  margin: 70px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-size{
  width: 30%;
	float: left;
  margin: 1.66%;
  box-shadow: 10px 5px 15px rgb(3, 3, 17)
}
.body{
  /* gradient for html body element */

  background: #1D4350;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  


}
h1{

  color: white;
  margin-left: 50px;
  margin-top: 20px !important;
  /* using font family */
  font-family: 'Merriweather', serif;
  font-weight: 200;

}

